.menu{
  width: 100%;

  .button{
    margin: 2%;
    width: 35px;
  }
}
.navi{
  background: #a6a6a6;
  li{
    padding: 4%;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    a{
      text-decoration: none;
      color: #ffffff;
    }
  }
}