.menu{
  width: 100%;

}
.navi{
  background: #a6a6a6;
  li{
    padding: 2%;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    a{
      text-decoration: none;
      color: #ffffff;
    }
  }
}